/* .home {
  background: -webkit-linear-gradient(-45deg, #b9c3c9 0%, #FFFFFF 6%, #b9c3c9 34%, #FFFFFF 60%, #b9c3c9 81%, #FFFFFF 100%);
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: ;
  align-items: center;
  padding: 15px 0px;
  margin: 25px 9%;
} */