.containerAllFilters {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px 0%;
}

.divSearchBar {
  flex: 1;
  /* width: 35%; */
  /* margin-left: 2%; */
  /* padding-right: 5%; */
  margin-right: 7%;
}

.containerFilters {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* margin-right: 2%; */
}

.buttonFilter {
  width: 120px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
  color: #343863;
}

.buttonFilter:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}